html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-container {
  position: absolute;
  left: 10%;
  top: 10%;
}
/* #img-logo {
  position: absolute;
  left: 10%;
  top: 10%;
} */
